$black: black;
$gray: #999999;
$pink: #FF9999;
$blue: #9999FF;

@font-face {
  font-family: RobotoSlab;
  src: url(../../public/fonts/RobotoSlab-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: RobotoSlab;
  src: url(../../public/fonts/RobotoSlab-Thin.ttf);
  font-weight: 100;
}

body {
  font-size: 16px;
  color: $black;
  font-family: 'RobotoSlab', serif;
  font-weight: 100;
}

h1, h2, h3 {
  color: $gray;
}

.wrapper {
  max-width: 43rem;
  margin: auto;
}

.text-source {
  font-family: 'RobotoSlab', serif;
  line-height: 1;
  font-size: 3.6rem;
  width: 100%;
  font-weight: 900;
  resize: none;
  margin-bottom: 2rem;
}

.thickness {
  display: flex;
  span {
    display: block;
  }
  input {
    display: block;
    margin: 0 1em;
  }
}

.bulge-control, .bulge-y-control {
  width: 100%;
}

footer {
  margin: 2rem 0;
}

.hide {
  display: none;
}